/* =============================================================================
   HTML5 CSS Reset Minified - Eric Meyer
   ========================================================================== */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  list-style: none;
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

li {
  list-style: none;
}

/* =============================================================================
      My CSS
      ========================================================================== */
/* ---- base ---- */
html,
body {
  width: 100%;
  height: 100%;
  background: #111;
}

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font: normal 75% Arial, Helvetica, sans-serif;
}

.container-canvas {
  width: 100vw;
  height: 100vh;
}

.container-canvas .body-content {
  width: 100%;
  height: 100%;
  z-index: 111;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-canvas .body-content .image-all-together {
  width: 100%;
  height: 100%;
  position: relative;
}

.container-canvas .body-content .image-all-together span {
  position: absolute;
  background-color: #000022;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 111;
}

.container-canvas .body-content .image-all-together span.one {
  top: 0;
  left: 0;
  width: 3px;
  height: 0;
}

.container-canvas .body-content .image-all-together span.two {
  bottom: 0;
  left: 0;
  height: 3px;
  width: 0;
}

.container-canvas .body-content .image-all-together span.three {
  bottom: 0;
  right: 0;
  width: 3px;
  height: 0;
}

.container-canvas .body-content .image-all-together span.four {
  top: 0;
  right: 0;
  height: 3px;
  width: 0;
}

.container-canvas .body-content .image-all-together:hover span.one,
.container-canvas .body-content .image-all-together:hover span.three {
  height: 100%;
}

.container-canvas .body-content .image-all-together:hover span.two,
.container-canvas .body-content .image-all-together:hover span.four {
  width: 100%;
}

.container-canvas .body-content .image-all-together img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.container-canvas .body-content .paragraph-content {
  width: 80vw;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #fff;
  z-index: 11;
}

.container-canvas .body-content .paragraph-content h2 {
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-size: 6vw;
  text-transform: uppercase;
}

.container-canvas .body-content .arrow-content-right {
  cursor: url("../img/right.png"), auto;
  width: 5vw;
  height: 80vh;
  z-index: 1111111;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container-canvas .body-content .arrow-content-left {
  cursor: url("../img/left.png"), auto;
  width: 5vw;
  height: 80vh;
  z-index: 1111111;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container-canvas .body-content .trans-shapes {
  width: 90vw;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 11;
}

.container-canvas .body-content .trans-shapes .hexagon-arrow-left {
  position: absolute;
  left: -1.3vw;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 11;
}

.container-canvas .body-content .trans-shapes .hexagon-arrow-left img {
  width: 15px;
}

.container-canvas .body-content .trans-shapes .hexagon-arrow-right {
  position: absolute;
  right: -1.3vw;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.container-canvas .body-content .trans-shapes .hexagon-arrow-right img {
  width: 15px;
}

.container-canvas .body-content .trans-shapes .hexagon-shape {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
}

.container-canvas .body-content .trans-shapes .hexagon-shape .hexagon {
  -webkit-clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
          clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  position: relative;
}

.container-canvas .body-content .trans-shapes .hexagon-shape .hexagon.with-prag {
  padding: 10px;
}

.container-canvas .body-content .trans-shapes .hexagon-shape .hexagon.with-prag .hexagon-content {
  width: 100%;
  height: 100%;
  padding: 20px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  -webkit-clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
          clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}

.container-canvas .body-content .trans-shapes .hexagon-shape .hexagon.with-prag .hexagon-content p {
  font-size: 20px;
  font-weight: 800;
}

.container-canvas .body-content .trans-shapes .hexagon-shape .hexagon.hexagon-large {
  width: 17vw;
  height: 30vh;
}

.container-canvas .body-content .trans-shapes .hexagon-shape .hexagon.hexagon-median {
  width: 8vw;
  height: 16vh;
}

.container-canvas .body-content .trans-shapes .hexagon-shape .hexagon.hexagon-small {
  width: 5vw;
  height: 10vh;
}

.container-canvas .body-content .trans-shapes .hexagon-yellew {
  left: 4vw;
}

.container-canvas .body-content .trans-shapes .hexagon-yellew .hexagon {
  background: yellow;
}

.container-canvas .body-content .trans-shapes .hexagon-yellew .hexagon-median {
  position: relative;
  right: 2.6vw;
  margin-bottom: 2vh;
}

.container-canvas .body-content .trans-shapes .hexagon-yellew .hexagon-small {
  position: relative;
  right: 3.5vw;
  margin-top: 2vh;
}

.container-canvas .body-content .trans-shapes .hexagon-orange {
  padding-top: 7vh;
}

.container-canvas .body-content .trans-shapes .hexagon-orange .hexagon {
  background: orange;
}

.container-canvas .body-content .trans-shapes .hexagon-orange .hexagon-large:last-child {
  position: relative;
  margin-top: 2vh;
}

.container-canvas .body-content .trans-shapes .hexagon-green {
  right: 3.5vw;
  padding-bottom: 25.6vh;
}

.container-canvas .body-content .trans-shapes .hexagon-green .hexagon {
  background: #28a524;
}

.container-canvas .body-content .trans-shapes .hexagon-green .hexagon-large:last-child {
  margin-top: 2vh;
}

.container-canvas .body-content .trans-shapes .hexagon-Purple {
  right: 7.5vw;
  padding-top: 7vh;
}

.container-canvas .body-content .trans-shapes .hexagon-Purple .hexagon {
  background: Purple;
}

.container-canvas .body-content .trans-shapes .hexagon-Purple .hexagon-large:last-child {
  position: relative;
  top: 10px;
}

.container-canvas .body-content .trans-shapes .hexagon-red {
  padding-bottom: 18vh;
  right: 11vw;
}

.container-canvas .body-content .trans-shapes .hexagon-red .hexagon {
  background: #cc0050;
}

.container-canvas .body-content .trans-shapes .hexagon-red .hexagon-small {
  position: relative;
  top: 5vh;
  margin-right: 3vw;
}

.container-canvas .body-content .trans-shapes .hexagon-red .hexagon-median {
  margin-right: 7.5vw;
  margin-bottom: 2vh;
}

.container-canvas .body-content .details-content {
  background-color: #ddddddba;
  padding: 0 100px;
  width: 85vw;
  height: 80vh;
  z-index: 11;
  position: relative;
}

.container-canvas .body-content .detail-who {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.container-canvas .body-content .detail-who .details-header {
  position: relative;
  bottom: 65px;
}

.container-canvas .body-content .detail-who .details-header h3 {
  font-size: 5vw;
  color: #fff;
}

.container-canvas .body-content .detail-who .details-body p {
  font-size: 2.3vw;
  color: #fff;
}

.container-canvas .body-content .details-multiCountrypayroll .content-header {
  background: #ddd;
  width: auto;
  display: inline-block;
  padding: 25px;
}

.container-canvas .body-content .details-multiCountrypayroll .content-header h3 {
  font-size: 1.5vw;
}

.container-canvas .body-content .details-multiCountrypayroll .content-body {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 8vh;
}

.container-canvas .body-content .details-multiCountrypayroll .content-body > div:first-child {
  padding: 0 5vw 0 1vw;
}

.container-canvas .body-content .details-multiCountrypayroll .content-body > div:last-child {
  padding: 0 3vw 0 0;
}

.container-canvas .body-content .details-multiCountrypayroll .content-body > div > p {
  font-size: 2vw;
  color: #fff;
}

.container-canvas .body-content .detail-obtain-it {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-canvas .body-content .detail-obtain-it .content-header {
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding-left: 5vw;
}

.container-canvas .body-content .detail-obtain-it .content-header h3 {
  font-size: 3vw;
  color: #fff;
}

.container-canvas .body-content .detail-obtain-it .content-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-canvas .body-content .detail-obtain-it .content-body .images-content.image-with-title {
  width: 17vw;
  height: 31vh;
  margin: 5vh 3.4vw 0 3.4vw;
  position: relative;
}

.container-canvas .body-content .detail-obtain-it .content-body .images-content.image-with-title .title-body {
  border-radius: 0 0 15px 15px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 20px 5px;
  background-color: rgba(221, 221, 221, 0.664);
}

.container-canvas .body-content .detail-obtain-it .content-body .images-content.image-with-title .title-body h4 {
  color: #333;
  font-size: 1vw;
}

.container-canvas .body-content .details-content-with-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  width: 80vw;
}

.container-canvas .body-content .details-content-with-image .images-content {
  width: auto;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 2vw 0 4vw;
}

.container-canvas .body-content .details-content-with-image .images-content .image-all-together {
  width: auto;
  height: auto;
}

.container-canvas .body-content .details-content-with-image .images-content .image-all-together img {
  border-radius: 0;
  width: 400px;
  height: 380px;
}

.container-canvas .body-content .details-content-with-image .side-content {
  width: 55%;
  height: 100%;
  padding: 0 3vw;
}

.container-canvas .body-content .details-content-with-image .side-content .content-header {
  background: #ddd;
  width: auto;
  display: inline-block;
  padding: 25px;
}

.container-canvas .body-content .details-content-with-image .side-content .content-header h3 {
  font-size: 1.5vw;
}

.container-canvas .body-content .details-content-with-image .side-content .content-body {
  margin-top: 5vh;
}

.container-canvas .body-content .details-content-with-image .side-content .content-body .content-prag p {
  font-size: 2vw;
}

.container-canvas .body-content .Outsource-Payroll {
  padding: 0;
}

.container-canvas .body-content .Outsource-Payroll .details-header {
  text-align: center;
  margin: 4vh 0 5vh 0;
}

.container-canvas .body-content .Outsource-Payroll .details-header h3 {
  font-size: 5vw;
  color: #fff;
}

.container-canvas .body-content .Outsource-Payroll .trans-shapes {
  width: 100%;
  height: auto;
}

.container-canvas .body-content .Outsource-Payroll .trans-shapes .hexagon-body {
  position: relative;
}

.container-canvas .body-content .Outsource-Payroll .trans-shapes .hexagon-body.hexagon-top {
  margin-bottom: 25vh;
}

.container-canvas .body-content .Outsource-Payroll .trans-shapes .hexagon-body.hexagon-bottom {
  margin-top: 25vh;
}

.container-canvas .body-content .Outsource-Payroll .trans-shapes .hexagon-body:nth-child(1) {
  left: 5vw;
}

.container-canvas .body-content .Outsource-Payroll .trans-shapes .hexagon-body:nth-child(1)::after {
  content: "\f16c";
  font-family: "Font Awesome 5 Brands";
}

.container-canvas .body-content .Outsource-Payroll .trans-shapes .hexagon-body:nth-child(2) {
  left: 3vw;
}

.container-canvas .body-content .Outsource-Payroll .trans-shapes .hexagon-body:nth-child(4) {
  right: 3vw;
}

.container-canvas .body-content .Outsource-Payroll .trans-shapes .hexagon-body:nth-child(5) {
  right: 5vw;
}

.container-canvas .body-content .Outsource-Payroll .trans-shapes .hexagon-body .hexagon-white {
  background-color: #fff;
  -webkit-clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
          clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  padding: 10px;
}

.container-canvas .body-content .Outsource-Payroll .trans-shapes .hexagon-body .hexagon-white .hexagon {
  padding: 2px !important;
}

.container-canvas .body-content .Outsource-Payroll .trans-shapes .hexagon-body .hexagon-white .hexagon.hexagon-large {
  width: 15vw;
  height: 27vh;
}

.container-canvas .body-content .Outsource-Payroll .trans-shapes .hexagon-body .border-Purple .hexagon {
  background-color: Purple;
  -webkit-box-shadow: 0px 0px 5px 9px rgba(128, 0, 128, 0.39);
  box-shadow: 0px 0px 5px 9px rgba(128, 0, 128, 0.39);
}

.container-canvas .body-content .Outsource-Payroll .trans-shapes .hexagon-body .border-red .hexagon {
  background-color: red;
}

.container-canvas .body-content .Outsource-Payroll .trans-shapes .hexagon-body .border-orange .hexagon {
  background-color: orange;
}

canvas {
  display: block;
}

/* ---- stats.js ---- */
.count-particles {
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13e8e9;
  font-size: 0.8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.js-count-particles {
  font-size: 1.1em;
}

#stats,
.count-particles {
  -webkit-user-select: none;
  margin-top: 5px;
  margin-left: 5px;
}

#stats {
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles {
  border-radius: 0 0 3px 3px;
}

/* ---- particles.js container ---- */
#particles-js {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #02203b;
  background-image: url("./../img/canvasBG.jpg");
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

#particles-js::after {
  content: "Trans Skills";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
  font-size: 14vw;
  z-index: 1;
  color: rgba(255, 255, 255, 0.295);
  text-transform: uppercase;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */