* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
}

#secMain {
  min-width: 90vw;
  min-height: 99vh;
}

#secOne {
  opacity: 0;
  top: 100vh;
  position: absolute;
}

.container-canvas {
  width: 100%;
  height: 100%;
  position: relative;
  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden;
}

.container-canvas .body-content {
  width: 100%;
  height: 100%;
  z-index: 111;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5vh;
}

.container-canvas .body-content.hidden {
  overflow: hidden;
  position: absolute;
  top: 100vh;
}

.container-canvas .body-content .image-all-together {
  width: 100%;
  height: 100%;
  position: relative;
}

.container-canvas .body-content .image-all-together span {
  position: absolute;
  background-color: #000022;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 111;
}

.container-canvas .body-content .image-all-together img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.container-canvas .body-content .paragraph-content {
  width: 100%;
  opacity: 0;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 11;
}

.container-canvas .body-content .paragraph-content .span--wrapper {
  display: contents;
  animation: scale 3s 0.5s infinite linear reverse;
}

.container-canvas .body-content .paragraph-content .span--wrapper span {
  -webkit-animation: opacity 2500ms linear infinite;
          animation: opacity 2500ms linear infinite;
}

.container-canvas .body-content .paragraph-content div {
  text-align: center;
  position: relative;
  z-index: 1;
}

.container-canvas .body-content .paragraph-content div button,
.container-canvas .body-content .paragraph-content div a {
  opacity: 0;
  cursor: pointer;
  margin: 50px auto;
  overflow: hidden;
  position: relative;
  padding: 10px 20px;
  background: transparent;
  color: #fff;
  border: 2px solid #ffffff;
}

.container-canvas .body-content .paragraph-content div button:hover,
.container-canvas .body-content .paragraph-content div a:hover {
  border: 2px solid #ffffff50;
}

.container-canvas .body-content .paragraph-content h2 {
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-size: 6vw;
  text-transform: uppercase;
}

.container-canvas .body-content .paragraph-content span {
  background: rgba(255, 255, 255, 0.999);
  border: 1px solid #fff;
  display: block;
  position: absolute;
  width: 0%;
  height: 0%;
}

.container-canvas .body-content .trans-shapes {
  width: 100vw;
  height: 90%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 8;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 220px 275px 190px 275px 190px;
      grid-template-columns: 220px 275px 190px 275px 190px;
}

.container-canvas .body-content .trans-shapes .hexagon-arrow-left {
  position: absolute;
  left: -1.3vw;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 11;
}

.container-canvas .body-content .trans-shapes .hexagon-arrow-left img {
  width: 15px;
}

.container-canvas .body-content .trans-shapes .hexagon-arrow-right {
  position: absolute;
  right: -1.3vw;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.container-canvas .body-content .trans-shapes .hexagon-arrow-right img {
  width: 15px;
}

.container-canvas .body-content .trans-shapes .hexagon-shape .hexagon {
  -webkit-clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
          clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  position: relative;
  /*
                    &.hexagon-large {
                        width: 17vw;
                        height: 30vh;
                    }
                    &.hexagon-median {
                        width: 8vw;
                        height: 16vh;
                    }
                    &.hexagon-small {
                        width: 5vw;
                        height: 10vh;
                    } */
}

.container-canvas .body-content .trans-shapes .hexagon-shape .hexagon.with-prag {
  padding: 18px;
}

.container-canvas .body-content .trans-shapes .hexagon-shape .hexagon.with-prag .hexagon-content {
  width: 100%;
  height: 100%;
  padding: 20px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 0.8s;
  transition: 0.8s;
  -webkit-clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
          clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}

.container-canvas .body-content .trans-shapes .hexagon-shape .hexagon.with-prag .hexagon-content:hover {
  cursor: pointer;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.container-canvas .body-content .trans-shapes .hexagon-shape .hexagon.with-prag .hexagon-content p {
  font-weight: 800;
}

.container-canvas .body-content .trans-shapes .hexagon-yellew .hexagon {
  background: #ffe33e;
}

.container-canvas .body-content .trans-shapes .hexagon-yellew .hexagon-median {
  position: relative;
  right: 2.6vw;
  margin-bottom: 2vh;
}

.container-canvas .body-content .trans-shapes .hexagon-yellew .hexagon-small {
  position: relative;
  right: 3.5vw;
  margin-top: 2vh;
}

.container-canvas .body-content .trans-shapes .hexagon-orange {
  padding-top: 7vh;
}

.container-canvas .body-content .trans-shapes .hexagon-orange .hexagon {
  background: #ff9000;
}

.container-canvas .body-content .trans-shapes .hexagon-orange .hexagon-large:last-child {
  position: relative;
  margin-top: 2vh;
}

.container-canvas .body-content .trans-shapes .hexagon-green {
  padding-bottom: 25.6vh;
}

.container-canvas .body-content .trans-shapes .hexagon-green .hexagon {
  background: #9fc914;
}

.container-canvas .body-content .trans-shapes .hexagon-green .hexagon-large:last-child {
  margin-top: 2vh;
}

.container-canvas .body-content .trans-shapes .hexagon-blue {
  padding-top: 7vh;
}

.container-canvas .body-content .trans-shapes .hexagon-blue .hexagon {
  background: #5053a3;
}

.container-canvas .body-content .trans-shapes .hexagon-blue .hexagon-large:last-child {
  position: relative;
  top: 10px;
}

.container-canvas .body-content .trans-shapes .hexagon-red {
  padding-bottom: 18vh;
}

.container-canvas .body-content .trans-shapes .hexagon-red .hexagon {
  background: #a3395e;
}

.container-canvas .body-content .trans-shapes .hexagon-red .hexagon-small {
  position: relative;
  top: 5vh;
}

.container-canvas .body-content .trans-shapes .hexagon-red .hexagon-median {
  margin-right: 7.5vw;
  margin-bottom: 2vh;
}

.container-canvas .body-content .details-content {
  width: 85vw;
  height: 0;
  background: #ffffff30;
  z-index: 11;
  position: relative;
}

.container-canvas .body-content .details-content > i {
  width: 35px;
  height: 35px;
  position: absolute;
  opacity: 0;
  fill: #fff;
  cursor: pointer;
}

.container-canvas .body-content .details-content > i.icon--placeholder-home {
  top: 15px;
  left: 15px;
}

.container-canvas .body-content .details-content > i.icon--placeholder-pre {
  bottom: 15px;
  left: 15px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.container-canvas .body-content .details-content > i.icon--placeholder-next {
  bottom: 15px;
  right: 15px;
}

.container-canvas .body-content .details-content p.title-back {
  color: #fff;
  font-size: 20px;
  width: auto;
  position: absolute;
  left: 70px;
  top: 15px;
  cursor: pointer;
  text-decoration: underline;
  opacity: 0;
}

.container-canvas .body-content .details-content p.title-back::before {
  content: "/";
  position: absolute;
  left: -19px;
  top: 2px;
}

.container-canvas .body-content .details-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.container-canvas .body-content .details-content .details-header {
  position: relative;
  bottom: 65px;
}

.container-canvas .body-content .details-content .details-header h3 {
  font-size: 5vw;
  color: #fff;
}

.container-canvas .body-content .details-content .details-body p {
  font-size: 2.3vw;
  color: #fff;
}

.container-canvas .body-content .details-multiCountrypayroll .content-header {
  background: #ddd;
  width: auto;
  display: inline-block;
  padding: 25px;
}

.container-canvas .body-content .details-multiCountrypayroll .content-header h3 {
  font-size: 1.5vw;
}

.container-canvas .body-content .details-multiCountrypayroll .content-body {
  width: 100%;
  height: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 8vh;
}

.container-canvas .body-content .details-multiCountrypayroll .content-body > div:first-child {
  padding: 0 5vw 0 1vw;
}

.container-canvas .body-content .details-multiCountrypayroll .content-body > div:last-child {
  padding: 0 3vw 0 0;
}

.container-canvas .body-content .details-multiCountrypayroll .content-body > div > p {
  font-size: 2vw;
  color: #fff;
}

.container-canvas .body-content .detail-obtain-it {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-canvas .body-content .detail-obtain-it .content-header {
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding-left: 5vw;
}

.container-canvas .body-content .detail-obtain-it .content-header h3 {
  font-size: 3vw;
  color: #fff;
}

.container-canvas .body-content .detail-obtain-it .content-body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-canvas .body-content .detail-obtain-it .content-body .images-content.image-with-title {
  height: 0;
  opacity: 0;
  margin: 5vh 3.4vw 0 3.4vw;
  position: relative;
  cursor: pointer;
}

.container-canvas .body-content .detail-obtain-it .content-body .images-content.image-with-title .title-body {
  border-radius: 0 0 15px 15px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 20px 5px;
  background-color: rgba(221, 221, 221, 0.664);
}

.container-canvas .body-content .detail-obtain-it .content-body .images-content.image-with-title .title-body h4 {
  color: #333;
  font-size: 1vw;
}

.container-canvas .body-content .details-content-with-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  width: 80vw;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.container-canvas .body-content .details-content-with-image .images-content {
  width: auto;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 2vw 0 4vw;
}

.container-canvas .body-content .details-content-with-image .images-content .image-all-together {
  width: auto;
  height: auto;
}

.container-canvas .body-content .details-content-with-image .images-content .image-all-together img {
  border-radius: 0;
  width: 0;
  height: 0;
  opacity: 0;
}

.container-canvas .body-content .details-content-with-image .side-content {
  width: 55%;
  height: 0;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 3vw;
}

.container-canvas .body-content .details-content-with-image .side-content .content-header {
  background: #ddd;
  width: 250px;
  display: inline-block;
  padding: 25px;
  position: relative;
  left: 150%;
  opacity: 0;
}

.container-canvas .body-content .details-content-with-image .side-content .content-header h3 {
  font-size: 1.5vw;
}

.container-canvas .body-content .details-content-with-image .side-content .content-body {
  margin-top: 70px;
  height: 0;
  opacity: 0;
  overflow: hidden;
}

.container-canvas .body-content .details-content-with-image .side-content .content-body .content-prag p {
  font-size: 1.6vw;
}

.container-canvas .body-content .details-content-with-image.obtain-childs .side-content {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.container-canvas .body-content .details-content-with-image.Software-as-a-service .side-content .content-header {
  width: 400px;
}

.container-canvas .body-content div.Outsource-Payroll img {
  width: 80%;
}

.container-canvas .body-content div.Outsource-Payroll div.details-body {
  height: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 200px 200px 200px 200px 200px;
      grid-template-columns: 200px 200px 200px 200px 200px;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 190px;
  overflow: visible !important;
}

.container-canvas .body-content div.Outsource-Payroll div.details-body > div {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.container-canvas .body-content div.Outsource-Payroll div.details-body > div img {
  opacity: 0;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.container-canvas .body-content div.Outsource-Payroll div.details-body > div img:hover {
  -webkit-transform: scale(1.7);
          transform: scale(1.7);
}

.container-canvas .body-content div.Outsource-Payroll div.details-body > div:nth-child(odd) {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.container-canvas .body-content div.Outsource-Payroll div.details-body .shapes-image {
  cursor: pointer;
}

.container-canvas .body-content .Outsource-Payroll-sections {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container-canvas .body-content .Outsource-Payroll-sections .details-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-canvas .body-content .Outsource-Payroll-sections .details-body .shapes-container .shapes-image img {
  width: 280px;
}

.container-canvas .body-content .Outsource-Payroll-sections .details-body .content-body {
  padding: 5px 100px;
}

.container-canvas .body-content .content-business-intro {
  width: 90vw;
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 11;
  text-align: center;
}

.container-canvas .body-content .content-business-intro > i {
  width: 35px;
  height: 35px;
  position: absolute;
  opacity: 0;
  fill: #fff;
  cursor: pointer;
}

.container-canvas .body-content .content-business-intro > i.icon--placeholder-home {
  top: 15px;
  left: 15px;
}

.container-canvas .body-content .content-business-intro > i.icon--placeholder-pre {
  bottom: 15px;
  left: 15px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.container-canvas .body-content .content-business-intro > i.icon--placeholder-next {
  bottom: 15px;
  right: 15px;
}

.container-canvas .body-content .content-business-intro .business-body-prag {
  width: 43vw;
  opacity: 0;
}

.container-canvas .body-content .content-business-intro .business-body-prag h1 {
  width: 100%;
  font-size: 5vw;
  color: #fff;
}

.container-canvas .body-content .shapes-circle {
  width: 90vw;
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 11;
  position: relative;
}

.container-canvas .body-content .shapes-circle > i {
  width: 35px;
  height: 35px;
  position: absolute;
  opacity: 0;
  fill: #fff;
  cursor: pointer;
}

.container-canvas .body-content .shapes-circle > i.icon--placeholder-home {
  top: 15px;
  left: 15px;
}

.container-canvas .body-content .shapes-circle > i.icon--placeholder-pre {
  bottom: 15px;
  left: 15px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.container-canvas .body-content .shapes-circle .shapes-circle-body.shapes-circle-yellew {
  -ms-flex-item-align: start;
      align-self: flex-start;
  position: relative;
  left: 6vw;
}

.container-canvas .body-content .shapes-circle .shapes-circle-body.shapes-circle-yellew .shapes-circle-content {
  border: 15px solid #fcdf21;
  width: 350px;
  height: 350px;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.container-canvas .body-content .shapes-circle .shapes-circle-body.shapes-circle-orange {
  position: relative;
  left: 8vw;
  top: 15vh;
}

.container-canvas .body-content .shapes-circle .shapes-circle-body.shapes-circle-orange .shapes-circle-content {
  border: 10px solid #ff9000;
  width: 200px;
  height: 200px;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.container-canvas .body-content .shapes-circle .shapes-circle-body .shapes-circle-content {
  border-radius: 50%;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 35px;
  text-align: center;
}

.container-canvas .body-content .shapes-circle .shapes-circle-body .shapes-circle-content p {
  font-size: 1.3vw;
}

.container-canvas .body-content .shapes-circle .image-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 65%;
  position: relative;
  height: 100vh;
}

.container-canvas .body-content .shapes-circle .image-content .darw-path {
  height: 100%;
  position: absolute;
  top: 40px;
  left: -90px;
}

.container-canvas .body-content .shapes-circle .image-content .darw-path svg {
  height: 90%;
}

.container-canvas .body-content .shapes-circle .image-content .Post-Processing-steps {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 40px;
  z-index: 111;
}

.container-canvas .body-content .shapes-circle .image-content .Post-Processing-steps .Post-Processing-step-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.container-canvas .body-content .shapes-circle .image-content .Post-Processing-steps .Post-Processing-step-container .Post-Processing-circle {
  width: 160px;
  height: 160px;
  background-color: transparent;
  border-radius: 50%;
  border: 10px solid gray;
  padding: 15px;
  -webkit-transform: scale(0);
          transform: scale(0);
  opacity: 0;
}

.container-canvas .body-content .shapes-circle .image-content .Post-Processing-steps .Post-Processing-step-container .Post-Processing-circle .Post-Processing-container {
  background-color: #fff;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container-canvas .body-content .shapes-circle .image-content .Post-Processing-steps .Post-Processing-step-container .Post-Processing-circle .Post-Processing-container p {
  font-size: 20px;
}

.container-canvas .body-content .shapes-circle .image-content .Post-Processing-steps .Post-Processing-step-container .line-with-dot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  left: 150%;
  position: relative;
}

.container-canvas .body-content .shapes-circle .image-content .Post-Processing-steps .Post-Processing-step-container .line-with-dot .line {
  width: 100px;
  height: 3px;
  display: inline-block;
  position: relative;
  top: -1px;
}

.container-canvas .body-content .shapes-circle .image-content .Post-Processing-steps .Post-Processing-step-container .line-with-dot .dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
}

.container-canvas .body-content .shapes-circle .image-content .Post-Processing-steps .Post-Processing-step-container .rule-point {
  padding: 20px;
  width: 310px;
  height: 110px;
  opacity: 0;
  left: 150%;
  margin-left: 50px;
  position: relative;
}

.container-canvas .body-content .shapes-circle .image-content .Post-Processing-steps .Post-Processing-step-container .rule-point > div {
  opacity: 1;
}

.container-canvas .body-content .shapes-circle .image-content .Post-Processing-steps .Post-Processing-step-container .rule-point ul li {
  text-align: left;
  font-size: 1vw;
  color: #fff;
}

.container-canvas .body-content .shapes-circle .image-content .Post-Processing-steps .Post-Processing-step-container.Postings-body .Post-Processing-circle {
  border-top-color: #9fc914;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.container-canvas .body-content .shapes-circle .image-content .Post-Processing-steps .Post-Processing-step-container.Postings-body .Post-Processing-circle .Post-Processing-container {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.container-canvas .body-content .shapes-circle .image-content .Post-Processing-steps .Post-Processing-step-container.Postings-body .line-with-dot .line {
  background: #9fc914;
}

.container-canvas .body-content .shapes-circle .image-content .Post-Processing-steps .Post-Processing-step-container.Postings-body .line-with-dot .dot {
  background-color: #9fc914;
}

.container-canvas .body-content .shapes-circle .image-content .Post-Processing-steps .Post-Processing-step-container.Postings-body .rule-point {
  background-color: #9fc914;
}

.container-canvas .body-content .shapes-circle .image-content .Post-Processing-steps .Post-Processing-step-container.rdParty {
  margin-left: 65px;
  margin-top: 10px;
}

.container-canvas .body-content .shapes-circle .image-content .Post-Processing-steps .Post-Processing-step-container.rdParty .Post-Processing-circle {
  border-right-color: #5053a3;
}

.container-canvas .body-content .shapes-circle .image-content .Post-Processing-steps .Post-Processing-step-container.rdParty .line-with-dot .line {
  background: #5053a3;
}

.container-canvas .body-content .shapes-circle .image-content .Post-Processing-steps .Post-Processing-step-container.rdParty .line-with-dot .dot {
  background-color: #5053a3;
}

.container-canvas .body-content .shapes-circle .image-content .Post-Processing-steps .Post-Processing-step-container.rdParty .rule-point {
  background-color: #5053a3;
}

.container-canvas .body-content .shapes-circle .image-content .Post-Processing-steps .Post-Processing-step-container.Statutory {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  left: 90px;
  top: -6px;
}

.container-canvas .body-content .shapes-circle .image-content .Post-Processing-steps .Post-Processing-step-container.Statutory .Post-Processing-circle {
  border-right-color: #a3395e;
  border-bottom-color: #a3395e;
}

.container-canvas .body-content .shapes-circle .image-content .Post-Processing-steps .Post-Processing-step-container.Statutory .line-with-dot .line {
  background: #a3395e;
}

.container-canvas .body-content .shapes-circle .image-content .Post-Processing-steps .Post-Processing-step-container.Statutory .line-with-dot .dot {
  background-color: #a3395e;
}

.container-canvas .body-content .shapes-circle .image-content .Post-Processing-steps .Post-Processing-step-container.Statutory .rule-point {
  background-color: #a3395e;
}

.container-canvas .body-content .shapes-circle .image-content .Post-Processing-steps .Post-Processing-step-container.Employee {
  -ms-flex-item-align: end;
      align-self: flex-end;
  left: 70px;
}

.container-canvas .body-content .shapes-circle .image-content .Post-Processing-steps .Post-Processing-step-container.Employee .Post-Processing-circle {
  border-color: #661433;
}

.container-canvas .body-content .shapes-circle .image-content .Post-Processing-steps .Post-Processing-step-container.Employee .line-with-dot .line {
  background: #661433;
}

.container-canvas .body-content .shapes-circle .image-content .Post-Processing-steps .Post-Processing-step-container.Employee .line-with-dot .dot {
  background-color: #661433;
}

.container-canvas .body-content .shapes-circle .image-content .Post-Processing-steps .Post-Processing-step-container.Employee .rule-point {
  background-color: #661433;
}

.container-canvas .body-content .images-body {
  width: 90vw;
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 11;
}

.container-canvas .body-content .images-body .image-content {
  height: 100%;
}

.container-canvas .body-content .images-body .image-content img {
  height: 100%;
}

.container-canvas .body-content .commitments-body {
  width: 90vw;
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 11;
  text-align: center;
}

.container-canvas .body-content .commitments-body > i {
  width: 35px;
  height: 35px;
  position: absolute;
  opacity: 0;
  fill: #fff;
  cursor: pointer;
}

.container-canvas .body-content .commitments-body > i.icon--placeholder-home {
  top: 15px;
  left: 15px;
}

.container-canvas .body-content .commitments-body p.title-back {
  color: #fff;
  font-size: 20px;
  width: auto;
  position: absolute;
  left: 70px;
  top: 15px;
  cursor: pointer;
  text-decoration: underline;
  opacity: 0;
}

.container-canvas .body-content .commitments-body p.title-back::before {
  content: "/";
  position: absolute;
  left: -19px;
  top: 2px;
}

.container-canvas .body-content .commitments-body .commitment-circle {
  border-radius: 50%;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 35px;
  text-align: center;
  border: 10px solid #fff;
}

.container-canvas .body-content .commitments-body .commitment-circle.commitment-circle-white {
  -webkit-transform: scale(0);
          transform: scale(0);
  width: 500px;
  height: 500px;
  padding: 15px;
}

.container-canvas .body-content .commitments-body .commitment-circle.commitment-circle-white .commitment-content {
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

.container-canvas .body-content .commitments-body .commitment-circle.commitment-circle-white .commitment-content:before {
  content: "";
  position: absolute;
  height: calc(100% + 10px);
  width: calc(100% + 10px);
  border: 8px dashed #444;
  top: -13px;
  left: -13px;
  border-radius: inherit;
  -webkit-animation: spin 100s linear infinite;
          animation: spin 100s linear infinite;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.container-canvas .body-content .commitments-body .commitment-circle.commitment-circle-white .commitment-content:hover:before {
  border: 8px dashed #fff;
  opacity: 1;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.container-canvas .body-content .commitments-body .commitment-circle.commitment-circle-white .commitment-content p {
  padding: 10px;
  opacity: 0;
  font-size: 42px;
  color: #333333;
  font-weight: 900;
}

.container-canvas .body-content .commitments-body .commitment-circle.commitment-circle-white:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.container-canvas .body-content .commitments-body .commitment-circle.small-circle {
  width: 0;
  height: 85px;
  -webkit-box-shadow: 0 0 25px 1px #00000040;
          box-shadow: 0 0 25px 1px #00000040;
  opacity: 0;
}

.container-canvas .body-content .commitments-body .commitment-circle.mediam-circle {
  width: 0;
  height: 200px;
  opacity: 0;
  -webkit-box-shadow: 0 0 25px 1px #00000050;
          box-shadow: 0 0 25px 1px #00000050;
}

.container-canvas .body-content .commitments-body .commitment-circle.commitment-circle-orange {
  background-color: #ffaa00;
}

.container-canvas .body-content .commitments-body .commitment-circle.commitment-circle-green {
  background-color: #9ec813;
}

.container-canvas .body-content .commitments-body .commitment-circle.commitment-circle-red {
  background-color: #a3395e;
}

.container-canvas .body-content .commitments-body .right-content {
  width: 0;
  display: -ms-grid;
  display: grid;
  height: 100vh;
  max-height: 100vh;
  -ms-grid-rows: 30vh 30vh 30vh;
      grid-template-rows: 30vh 30vh 30vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5vh 0;
  justify-items: center;
  align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.container-canvas .body-content .commitments-body .right-content .commitment-rule {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100px 1fr auto;
      grid-template-columns: 100px 1fr auto;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-canvas .body-content .commitments-body .right-content .commitment-rule .commitment-content {
  color: #fff;
  font-size: 1.5vw;
}

.container-canvas .body-content .commitments-body .right-content .commitment-rule .small-circle.commitment-circle-orange {
  margin-top: 20vh;
}

.container-canvas .body-content .commitments-body .right-content .commitment-rule .small-circle.commitment-circle-green {
  margin-right: 2vw;
}

.container-canvas .body-content .commitments-body .right-content .commitment-rule .small-circle.commitment-circle-red {
  margin-bottom: 20vh;
}

.container-canvas .body-content .commitments-body .right-content .commitment-rule .rule-point li {
  display: block;
  text-align: start;
}

.container-canvas .body-content .commitments-body .right-content .commitment-rule:nth-child(1) .rule-point {
  color: #ffaa00;
}

.container-canvas .body-content .commitments-body .right-content .commitment-rule:nth-child(2) {
  margin-left: 65px;
}

.container-canvas .body-content .commitments-body .right-content .commitment-rule:nth-child(2) .rule-point {
  color: #9ec813;
}

.container-canvas .body-content .commitments-body .right-content .commitment-rule:nth-child(3) .rule-point {
  color: #a3395e;
}

.container-canvas .body-content .commitments-body .right-content .rule-point {
  background-color: #fff;
  padding: 25px 15px;
  width: 0;
  height: 0;
  opacity: 0;
  margin-left: 2vw;
}

.container-canvas .body-content .commitments-body .right-content .rule-point > div {
  opacity: 0;
}

.container-canvas .body-content .commitments-body .right-content .rule-point h2 {
  text-align: left;
  font-size: 1.2vw;
  margin-bottom: 1vh;
}

.container-canvas .body-content .commitments-body .right-content .rule-point ul li {
  text-align: left;
  font-size: 1vw;
}

.container-canvas .body-content .contact-us {
  width: 90vw;
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  z-index: 11;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 4vw;
}

.container-canvas .body-content .contact-us > i {
  width: 35px;
  height: 35px;
  position: absolute;
  opacity: 0;
  fill: #fff;
  cursor: pointer;
}

.container-canvas .body-content .contact-us > i.icon--placeholder-home {
  top: 15px;
  left: 15px;
}

.container-canvas .body-content .contact-us p.title-back {
  color: #fff;
  font-size: 20px;
  width: auto;
  position: absolute;
  left: 70px;
  top: 15px;
  cursor: pointer;
  text-decoration: underline;
  opacity: 0;
}

.container-canvas .body-content .contact-us p.title-back::before {
  content: "/";
  position: absolute;
  left: -19px;
  top: 2px;
}

.container-canvas .body-content .contact-us h1 {
  font-size: 60px;
  color: #fff;
  margin-bottom: 20px;
  width: 500px;
  opacity: 0;
  position: relative;
  left: 113%;
}

.container-canvas .body-content .contact-us .contact-us-with-map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-canvas .body-content .contact-us .contact-us-with-map .contact-us-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5px;
  width: 35vw;
}

.container-canvas .body-content .contact-us .contact-us-with-map .contact-us-list .contact-us-item {
  padding: 20px 15px;
  margin-bottom: 1.9vh;
  position: relative;
  top: 155%;
  opacity: 0;
}

.container-canvas .body-content .contact-us .contact-us-with-map .contact-us-list .contact-us-item .contactusitem-content {
  margin: 0;
  position: relative;
}

.container-canvas .body-content .contact-us .contact-us-with-map .contact-us-list .contact-us-item .contactusitem-content::before {
  font-family: "Font Awesome 5 Free";
  display: block;
  font-weight: 700;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border-radius: 30px;
  color: #fff;
  margin: 0 20px 40px 0;
  position: absolute;
  top: 5px;
  left: 0;
}

.container-canvas .body-content .contact-us .contact-us-with-map .contact-us-list .contact-us-item .contactusitem-content .contactusitem-body {
  padding-left: 50px;
}

.container-canvas .body-content .contact-us .contact-us-with-map .contact-us-list .contact-us-item .contactusitem-content .contactusitem-body h3 {
  color: #fff;
  font-size: 40px;
}

.container-canvas .body-content .contact-us .contact-us-with-map .contact-us-list .contact-us-item .contactusitem-content .contactusitem-body a {
  color: #fff;
  font-size: 25x;
}

.container-canvas .body-content .contact-us .contact-us-with-map .contact-us-list .contact-us-item .Find-us::before {
  content: "\f3c5";
  background: #ea4435;
}

.container-canvas .body-content .contact-us .contact-us-with-map .contact-us-list .contact-us-item .Call-us::before {
  content: "\f095";
  background: #42a047;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.container-canvas .body-content .contact-us .contact-us-with-map .contact-us-list .contact-us-item .Email-us::before {
  background: #f78f1e;
  content: "\f0e0";
}

.container-canvas .body-content .contact-us .contact-us-with-map .contact-us-list .contact-us-item:nth-child(1) {
  background-color: #ea4435;
}

.container-canvas .body-content .contact-us .contact-us-with-map .contact-us-list .contact-us-item:nth-child(2) {
  background-color: #42a047;
}

.container-canvas .body-content .contact-us .contact-us-with-map .contact-us-list .contact-us-item:nth-child(3) {
  background-color: #f78f1e;
}

.container-canvas .body-content .contact-us .contact-us-with-map .map-body {
  height: 100%;
  top: 155%;
  position: relative;
  opacity: 0;
}

.container-canvas .body-content .contact-us .contact-us-with-map .map-body iframe {
  height: 100%;
  padding: 5px 5px 18px 5px;
}

/* ---- particles.js container ---- */
#particles-js {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #394046;
  background: linear-gradient(45deg, #394046 0%, #4c6279 100%) !important;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotateZ(0deg) translate3d(0, 10.5%, 0) rotateZ(0deg);
    transform: rotateZ(0deg) translate3d(0, 10.5%, 0) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg) translate3d(0, 10.5%, 0) rotateZ(-360deg);
    transform: rotateZ(360deg) translate3d(0, 10.5%, 0) rotateZ(-360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotateZ(0deg) translate3d(0, 10.5%, 0) rotateZ(0deg);
    transform: rotateZ(0deg) translate3d(0, 10.5%, 0) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg) translate3d(0, 10.5%, 0) rotateZ(-360deg);
    transform: rotateZ(360deg) translate3d(0, 10.5%, 0) rotateZ(-360deg);
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@-webkit-keyframes opacity {
  0% {
    opacity: 0.7;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.7;
  }
}

@keyframes opacity {
  0% {
    opacity: 0.7;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.7;
  }
}

@-webkit-keyframes scale {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  20% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  90% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scale {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  20% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  90% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.parallax-wrapper {
  overflow: hidden;
}

.parallax-wrapper #parallax {
  width: 100%;
  height: 100%;
}

.parallax-wrapper #parallax > div {
  mix-blend-mode: screen;
  background-blend-mode: screen;
}

.parallax-wrapper #parallax {
  position: fixed !important;
  mix-blend-mode: color-dodge;
  background-blend-mode: screen;
}

.parallax-wrapper #parallax div span {
  position: absolute;
  background-image: url("/img/light.jpg");
  width: 190px;
  background-size: cover;
  z-index: 2;
  display: block;
  background-blend-mode: color;
  -webkit-filter: blur(2px);
          filter: blur(2px);
  background-repeat: no-repeat;
}

.parallax-wrapper .ligt1 {
  background-position: top center;
  height: 75px;
  left: 70vw;
  top: 70vh;
  -webkit-animation: rotate 10s 0.5s infinite linear reverse, opacity 2500ms linear infinite;
          animation: rotate 10s 0.5s infinite linear reverse, opacity 2500ms linear infinite;
}

.parallax-wrapper .ligt2 {
  background-position: 0 -75px;
  height: 100px;
  left: 76vw;
  top: 60vh;
  -webkit-animation: rotate 8s 0.9s infinite linear;
          animation: rotate 8s 0.9s infinite linear;
}

.parallax-wrapper .ligt3 {
  background-position: 0 -175px;
  height: 120px;
  left: 63vw;
  top: 80vh;
  -webkit-animation: rotate 8s 0.9s infinite linear reverse, opacity 4000ms linear infinite;
          animation: rotate 8s 0.9s infinite linear reverse, opacity 4000ms linear infinite;
}

.parallax-wrapper .ligt4 {
  background-position: 0 -290px;
  height: 70px;
  left: 83vw;
  top: 80vh;
  -webkit-animation: rotate 8s 0.9s infinite linear;
          animation: rotate 8s 0.9s infinite linear;
}

.parallax-wrapper .ligt5 {
  background-position: 0 -350px;
  height: 150px;
  left: 85vw;
  top: 82vh;
  animation: rotate 8s 0.9s infinite linear reverse;
}

.parallax-wrapper .ligt6 {
  background-position: 0 -500px;
  height: 100px;
  left: 55vw;
  top: 72vh;
  -webkit-animation: rotate 8s 0.9s infinite linear;
          animation: rotate 8s 0.9s infinite linear;
}

.parallax-wrapper .ligt7 {
  background-position: 0 -600px;
  height: 120px;
  left: 25vw;
  top: 72vh;
  -webkit-animation: rotate 8s 0.9s infinite linear reverse, opacity 4000ms linear infinite;
          animation: rotate 8s 0.9s infinite linear reverse, opacity 4000ms linear infinite;
}

.parallax-wrapper .ligt8 {
  background-position: 0 -720px;
  height: 100px;
  left: 15vw;
  top: 52vh;
  -webkit-animation: rotate 8s 0.9s infinite linear, opacity 6000ms linear infinite;
          animation: rotate 8s 0.9s infinite linear, opacity 6000ms linear infinite;
}

.parallax-wrapper .ligt9 {
  background-position: 0 -820px;
  height: 150px;
  left: 10vw;
  top: 62vh;
  -webkit-animation: rotate 8s 0.9s infinite linear reverse, opacity 8000ms linear infinite;
          animation: rotate 8s 0.9s infinite linear reverse, opacity 8000ms linear infinite;
}

.parallax-wrapper .ligt10 {
  background-position: 0 -970px;
  height: 100px;
  left: 10vw;
  top: 42vh;
  -webkit-animation: rotate 16s 1.9s infinite linear, opacity 3000ms linear infinite;
          animation: rotate 16s 1.9s infinite linear, opacity 3000ms linear infinite;
}

.parallax-wrapper .ligt11 {
  background-position: 0 -1070px;
  height: 100px;
  left: 20vw;
  top: 42vh;
  animation: rotate 8s 0.5s infinite linear reverse;
}

.parallax-wrapper .ligt12 {
  background-position: 0 -1170px;
  height: 100px;
  left: 35vw;
  top: 75vh;
  -webkit-animation: rotate 8s 0.9s infinite linear;
          animation: rotate 8s 0.9s infinite linear;
}

.parallax-wrapper .ligt13 {
  width: 1090px !important;
  background-position: 0 -5580px;
  height: 1000px;
  left: -170px;
  top: calc(100vh - 400px);
  /* animation: rotate 528s 5.9s infinite linear reverse; */
  -webkit-filter: blur(42px) !important;
          filter: blur(42px) !important;
}

.parallax-wrapper .ligt14 {
  width: 1090px !important;
  background-position: 0 -2920px;
  height: 1000px;
  left: 40vw;
  top: calc(100vh - 260px);
  /* animation: rotate 528s 5.9s infinite linear reverse; */
  -webkit-filter: blur(42px) !important;
          filter: blur(42px) !important;
}

.parallax-wrapper .ligt15 {
  width: 1090px !important;
  background-position: 0 -2920px;
  height: 1000px;
  left: calc(100vw - 640px);
  top: calc(100vh - 860px);
  /* animation: rotate 528s 5.9s infinite linear reverse; */
  -webkit-filter: blur(42px) !important;
          filter: blur(42px) !important;
}
/*# sourceMappingURL=transSkill.css.map */