* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#secMain {
  min-width: 90vw;
  min-height: 99vh;
}

#secOne {
  opacity: 0;
  top: 100vh;
  position: absolute;
}

.container-canvas {
  width: 100%;
  height: 100%;
  position: relative;
  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden;
}

.container-canvas .body-content {
  width: 100%;
  height: 100%;
  z-index: 111;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5vh;
}

.container-canvas .body-content.hiden {
  position: absolute;
  top: 100vh;
}

.container-canvas .body-content .image-all-together {
  width: 100%;
  height: 100%;
  position: relative;
}

.container-canvas .body-content .image-all-together span {
  position: absolute;
  background-color: #000022;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 111;
}

.container-canvas .body-content .image-all-together img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.container-canvas .body-content .paragraph-content {
  width: 100%;
  opacity: 0;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 11;
}

.container-canvas .body-content .paragraph-content .span--wrapper {
  display: contents;
  animation: scale 3s 0.5s infinite linear reverse;
}

.container-canvas .body-content .paragraph-content .span--wrapper span {
  -webkit-animation: opacity 2500ms linear infinite;
          animation: opacity 2500ms linear infinite;
}

.container-canvas .body-content .paragraph-content div {
  text-align: center;
  position: relative;
  z-index: 1;
}

.container-canvas .body-content .paragraph-content div button,
.container-canvas .body-content .paragraph-content div a {
  opacity: 0;
  cursor: pointer;
  margin: 50px;
  padding: 10px 20px;
  background: transparent;
  color: #fff;
  border: 2px solid #ffffff;
}

.container-canvas .body-content .paragraph-content div button:hover,
.container-canvas .body-content .paragraph-content div a:hover {
  border: 2px solid #ffffff50;
}

.container-canvas .body-content .paragraph-content h2 {
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-size: 6vw;
  text-transform: uppercase;
}

.container-canvas .body-content .paragraph-content span {
  background: rgba(255, 255, 255, 0.999);
  border: 1px solid #fff;
  display: block;
  position: absolute;
  width: 0%;
  height: 0%;
}

.container-canvas .body-content .trans-shapes {
  width: 100vw;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 8;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 177px 330px 200px 330px 187px;
      grid-template-columns: 177px 330px 200px 330px 187px;
}

.container-canvas .body-content .trans-shapes .hexagon-arrow-left {
  position: absolute;
  left: -1.3vw;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 11;
}

.container-canvas .body-content .trans-shapes .hexagon-arrow-left img {
  width: 15px;
}

.container-canvas .body-content .trans-shapes .hexagon-arrow-right {
  position: absolute;
  right: -1.3vw;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.container-canvas .body-content .trans-shapes .hexagon-arrow-right img {
  width: 15px;
}

.container-canvas .body-content .trans-shapes .hexagon-shape .hexagon {
  -webkit-clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
          clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  position: relative;
  /*
                    &.hexagon-large {
                        width: 17vw;
                        height: 30vh;
                    }
                    &.hexagon-median {
                        width: 8vw;
                        height: 16vh;
                    }
                    &.hexagon-small {
                        width: 5vw;
                        height: 10vh;
                    } */
}

.container-canvas .body-content .trans-shapes .hexagon-shape .hexagon.with-prag {
  padding: 18px;
}

.container-canvas .body-content .trans-shapes .hexagon-shape .hexagon.with-prag .hexagon-content {
  width: 100%;
  height: 100%;
  padding: 20px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: .8s;
  transition: .8s;
  -webkit-clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
          clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}

.container-canvas .body-content .trans-shapes .hexagon-shape .hexagon.with-prag .hexagon-content:hover {
  cursor: pointer;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.container-canvas .body-content .trans-shapes .hexagon-shape .hexagon.with-prag .hexagon-content p {
  font-weight: 800;
}

.container-canvas .body-content .trans-shapes .hexagon-yellew .hexagon {
  background: #FFE33E;
}

.container-canvas .body-content .trans-shapes .hexagon-yellew .hexagon-median {
  position: relative;
  right: 2.6vw;
  margin-bottom: 2vh;
}

.container-canvas .body-content .trans-shapes .hexagon-yellew .hexagon-small {
  position: relative;
  right: 3.5vw;
  margin-top: 2vh;
}

.container-canvas .body-content .trans-shapes .hexagon-orange {
  padding-top: 7vh;
}

.container-canvas .body-content .trans-shapes .hexagon-orange .hexagon {
  background: #FF9000;
}

.container-canvas .body-content .trans-shapes .hexagon-orange .hexagon-large:last-child {
  position: relative;
  margin-top: 2vh;
}

.container-canvas .body-content .trans-shapes .hexagon-green {
  padding-bottom: 25.6vh;
}

.container-canvas .body-content .trans-shapes .hexagon-green .hexagon {
  background: #9FC914;
}

.container-canvas .body-content .trans-shapes .hexagon-green .hexagon-large:last-child {
  margin-top: 2vh;
}

.container-canvas .body-content .trans-shapes .hexagon-blue {
  padding-top: 7vh;
}

.container-canvas .body-content .trans-shapes .hexagon-blue .hexagon {
  background: #5053A3;
}

.container-canvas .body-content .trans-shapes .hexagon-blue .hexagon-large:last-child {
  position: relative;
  top: 10px;
}

.container-canvas .body-content .trans-shapes .hexagon-red {
  padding-bottom: 18vh;
}

.container-canvas .body-content .trans-shapes .hexagon-red .hexagon {
  background: #A3395E;
}

.container-canvas .body-content .trans-shapes .hexagon-red .hexagon-small {
  position: relative;
  top: 5vh;
}

.container-canvas .body-content .trans-shapes .hexagon-red .hexagon-median {
  margin-right: 7.5vw;
  margin-bottom: 2vh;
}

.container-canvas .body-content .details-content {
  width: 85vw;
  height: 0;
  background: #ffffff30;
  z-index: 11;
  position: relative;
}

.container-canvas .body-content .details-content > i {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 40px;
  left: 50px;
  opacity: 0;
  fill: #fff;
  cursor: pointer;
}

.container-canvas .body-content .details-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.container-canvas .body-content .details-content .details-header {
  position: relative;
  bottom: 65px;
}

.container-canvas .body-content .details-content .details-header h3 {
  font-size: 5vw;
  color: #fff;
}

.container-canvas .body-content .details-content .details-body p {
  font-size: 2.3vw;
  color: #fff;
}

.container-canvas .body-content .details-multiCountrypayroll .content-header {
  background: #ddd;
  width: auto;
  display: inline-block;
  padding: 25px;
}

.container-canvas .body-content .details-multiCountrypayroll .content-header h3 {
  font-size: 1.5vw;
}

.container-canvas .body-content .details-multiCountrypayroll .content-body {
  width: 100%;
  height: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 8vh;
}

.container-canvas .body-content .details-multiCountrypayroll .content-body > div:first-child {
  padding: 0 5vw 0 1vw;
}

.container-canvas .body-content .details-multiCountrypayroll .content-body > div:last-child {
  padding: 0 3vw 0 0;
}

.container-canvas .body-content .details-multiCountrypayroll .content-body > div > p {
  font-size: 2vw;
  color: #fff;
}

.container-canvas .body-content .detail-obtain-it {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-canvas .body-content .detail-obtain-it .content-header {
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding-left: 5vw;
}

.container-canvas .body-content .detail-obtain-it .content-header h3 {
  font-size: 3vw;
  color: #fff;
}

.container-canvas .body-content .detail-obtain-it .content-body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-canvas .body-content .detail-obtain-it .content-body .images-content.image-with-title {
  height: 31vh !important;
  height: 0;
  opacity: 0;
  margin: 5vh 3.4vw 0 3.4vw;
  position: relative;
}

.container-canvas .body-content .detail-obtain-it .content-body .images-content.image-with-title .title-body {
  border-radius: 0 0 15px 15px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 20px 5px;
  background-color: rgba(221, 221, 221, 0.664);
}

.container-canvas .body-content .detail-obtain-it .content-body .images-content.image-with-title .title-body h4 {
  color: #333;
  font-size: 1vw;
}

.container-canvas .body-content .details-content-with-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  width: 80vw;
}

.container-canvas .body-content .details-content-with-image .images-content {
  width: auto;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 2vw 0 4vw;
}

.container-canvas .body-content .details-content-with-image .images-content .image-all-together {
  width: auto;
  height: auto;
}

.container-canvas .body-content .details-content-with-image .images-content .image-all-together img {
  border-radius: 0;
  width: 400px;
  height: 380px;
}

.container-canvas .body-content .details-content-with-image .side-content {
  width: 55%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 3vw;
}

.container-canvas .body-content .details-content-with-image .side-content .content-header {
  background: #ddd;
  width: auto;
  display: inline-block;
  padding: 25px;
}

.container-canvas .body-content .details-content-with-image .side-content .content-header h3 {
  font-size: 1.5vw;
}

.container-canvas .body-content .details-content-with-image .side-content .content-body {
  margin-top: 5vh;
}

.container-canvas .body-content .details-content-with-image .side-content .content-body .content-prag p {
  font-size: 2vw;
}

.container-canvas .body-content div.Outsource-Payroll img {
  width: 100%;
}

.container-canvas .body-content div.Outsource-Payroll div.details-body {
  height: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 160px 160px 160px 160px 160px;
      grid-template-columns: 160px 160px 160px 160px 160px;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 130px;
  overflow: visible !important;
}

.container-canvas .body-content div.Outsource-Payroll div.details-body > div {
  display: -ms-grid;
  display: grid;
}

.container-canvas .body-content div.Outsource-Payroll div.details-body > div img {
  opacity: 0;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-transition: .4s;
  transition: .4s;
}

.container-canvas .body-content div.Outsource-Payroll div.details-body > div img:hover {
  -webkit-transform: scale(1.7);
          transform: scale(1.7);
}

.container-canvas .body-content div.Outsource-Payroll div.details-body > div:nth-child(odd) {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.container-canvas .body-content .content-business-intro {
  width: 90vw;
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 11;
  text-align: center;
}

.container-canvas .body-content .content-business-intro h1 {
  width: 43vw;
  font-size: 5vw;
  color: #fff;
}

.container-canvas .body-content .shapes-circle {
  width: 90vw;
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 11;
}

.container-canvas .body-content .shapes-circle .shapes-circle-body.shapes-circle-yellew {
  -ms-flex-item-align: start;
      align-self: flex-start;
  position: relative;
  left: 6vw;
}

.container-canvas .body-content .shapes-circle .shapes-circle-body.shapes-circle-yellew .shapes-circle-content {
  border: 15px solid #FCDF21;
  width: 22vw;
  height: 43vh;
}

.container-canvas .body-content .shapes-circle .shapes-circle-body.shapes-circle-orange {
  position: relative;
  left: 8vw;
  top: 15vh;
}

.container-canvas .body-content .shapes-circle .shapes-circle-body.shapes-circle-orange .shapes-circle-content {
  border: 10px solid #FF9000;
  width: 12vw;
  height: 25vh;
}

.container-canvas .body-content .shapes-circle .shapes-circle-body .shapes-circle-content {
  border-radius: 50%;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 35px;
  text-align: center;
}

.container-canvas .body-content .shapes-circle .shapes-circle-body .shapes-circle-content p {
  font-size: 1.3vw;
}

.container-canvas .body-content .shapes-circle .image-content img {
  width: 50vw;
}

.container-canvas .body-content .images-body {
  width: 90vw;
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 11;
}

.container-canvas .body-content .images-body .image-content {
  height: 100%;
}

.container-canvas .body-content .images-body .image-content img {
  height: 100%;
}

.container-canvas .body-content .commitments-body {
  width: 90vw;
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 11;
  text-align: center;
}

.container-canvas .body-content .commitments-body .commitment-circle {
  border-radius: 50%;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 35px;
  text-align: center;
  border: 10px solid #fff;
}

.container-canvas .body-content .commitments-body .commitment-circle.commitment-circle-white {
  width: 25vw;
  height: 50vh;
  padding: 15px;
}

.container-canvas .body-content .commitments-body .commitment-circle.commitment-circle-white .commitment-content {
  border: 3px dashed #333;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

.container-canvas .body-content .commitments-body .commitment-circle.commitment-circle-white .commitment-content p {
  font-size: 3vw;
  font-weight: 900;
}

.container-canvas .body-content .commitments-body .commitment-circle.small-circle {
  width: 5vw;
  height: 10vh;
}

.container-canvas .body-content .commitments-body .commitment-circle.mediam-circle {
  width: 12vw;
  height: 24vh;
}

.container-canvas .body-content .commitments-body .commitment-circle.commitment-circle-orange {
  background-color: #FFAA00;
}

.container-canvas .body-content .commitments-body .commitment-circle.commitment-circle-green {
  background-color: #9EC813;
}

.container-canvas .body-content .commitments-body .commitment-circle.commitment-circle-red {
  background-color: #A3395E;
}

.container-canvas .body-content .commitments-body .right-content .commitment-rule {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5vh;
}

.container-canvas .body-content .commitments-body .right-content .commitment-rule .commitment-content {
  color: #fff;
  font-size: 1.5vw;
}

.container-canvas .body-content .commitments-body .right-content .commitment-rule .small-circle.commitment-circle-orange {
  margin-top: 20vh;
}

.container-canvas .body-content .commitments-body .right-content .commitment-rule .small-circle.commitment-circle-green {
  margin-right: 2vw;
}

.container-canvas .body-content .commitments-body .right-content .commitment-rule .small-circle.commitment-circle-red {
  margin-bottom: 20vh;
}

.container-canvas .body-content .commitments-body .right-content .commitment-rule:nth-child(1) .rule-point {
  color: #FFAA00;
}

.container-canvas .body-content .commitments-body .right-content .commitment-rule:nth-child(2) {
  margin-left: 12vw;
}

.container-canvas .body-content .commitments-body .right-content .commitment-rule:nth-child(2) .rule-point {
  color: #9EC813;
}

.container-canvas .body-content .commitments-body .right-content .commitment-rule:nth-child(3) .rule-point {
  color: #A3395E;
}

.container-canvas .body-content .commitments-body .right-content .rule-point {
  background-color: #fff;
  padding: 25px 15px;
  width: 26vw;
  margin-left: 2vw;
}

.container-canvas .body-content .commitments-body .right-content .rule-point h2 {
  text-align: left;
  font-size: 1.2vw;
  margin-bottom: 1vh;
}

.container-canvas .body-content .commitments-body .right-content .rule-point ul li p {
  text-align: left;
  font-size: 1vw;
}

.container-canvas .body-content .contact-us {
  width: 90vw;
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  z-index: 11;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 4vw;
}

.container-canvas .body-content .contact-us h1 {
  font-size: 5vw;
  color: #fff;
  margin-bottom: 3vh;
  width: 35vw;
}

.container-canvas .body-content .contact-us .contact-us-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5px;
  width: 35vw;
}

.container-canvas .body-content .contact-us .contact-us-list .contact-us-item {
  padding: 20px 15px;
  margin-bottom: 1.9vh;
}

.container-canvas .body-content .contact-us .contact-us-list .contact-us-item p {
  color: #fff;
  font-size: 1.5vw;
}

.container-canvas .body-content .contact-us .contact-us-list .contact-us-item:nth-child(1) {
  background-color: #FCDF21;
}

.container-canvas .body-content .contact-us .contact-us-list .contact-us-item:nth-child(2) {
  background-color: #9FC914;
}

.container-canvas .body-content .contact-us .contact-us-list .contact-us-item:nth-child(3) {
  background-color: #A3395E;
}

.container-canvas .body-content .contact-us .contact-us-list .contact-us-item:nth-child(4) {
  background-color: #661433;
}

/* ---- particles.js container ---- */
#particles-js {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #394046;
  background: linear-gradient(45deg, #394046 0%, #4c6279 100%) !important;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotateZ(0deg) translate3d(0, 10.5%, 0) rotateZ(0deg);
    transform: rotateZ(0deg) translate3d(0, 10.5%, 0) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg) translate3d(0, 10.5%, 0) rotateZ(-360deg);
    transform: rotateZ(360deg) translate3d(0, 10.5%, 0) rotateZ(-360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotateZ(0deg) translate3d(0, 10.5%, 0) rotateZ(0deg);
    transform: rotateZ(0deg) translate3d(0, 10.5%, 0) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg) translate3d(0, 10.5%, 0) rotateZ(-360deg);
    transform: rotateZ(360deg) translate3d(0, 10.5%, 0) rotateZ(-360deg);
  }
}

@-webkit-keyframes opacity {
  0% {
    opacity: .7;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: .7;
  }
}

@keyframes opacity {
  0% {
    opacity: .7;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: .7;
  }
}

@-webkit-keyframes scale {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  20% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  90% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scale {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  20% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  90% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.parallax-wrapper {
  overflow: hidden;
}

.parallax-wrapper #parallax {
  width: 100%;
  height: 100%;
}

.parallax-wrapper #parallax > div {
  mix-blend-mode: screen;
  background-blend-mode: screen;
}

.parallax-wrapper #parallax {
  position: fixed !important;
  mix-blend-mode: color-dodge;
  background-blend-mode: screen;
}

.parallax-wrapper #parallax div span {
  position: absolute;
  background-image: url("/img/light.jpg");
  width: 190px;
  background-size: cover;
  z-index: 2;
  display: block;
  background-blend-mode: color;
  -webkit-filter: blur(2px);
          filter: blur(2px);
  background-repeat: no-repeat;
}

.parallax-wrapper .ligt1 {
  background-position: top center;
  height: 75px;
  left: 70vw;
  top: 70vh;
  -webkit-animation: rotate 10s 0.5s infinite linear reverse, opacity 2500ms linear infinite;
          animation: rotate 10s 0.5s infinite linear reverse, opacity 2500ms linear infinite;
}

.parallax-wrapper .ligt2 {
  background-position: 0 -75px;
  height: 100px;
  left: 76vw;
  top: 60vh;
  -webkit-animation: rotate 8s 0.9s infinite linear;
          animation: rotate 8s 0.9s infinite linear;
}

.parallax-wrapper .ligt3 {
  background-position: 0 -175px;
  height: 120px;
  left: 63vw;
  top: 80vh;
  -webkit-animation: rotate 8s 0.9s infinite linear reverse, opacity 4000ms linear infinite;
          animation: rotate 8s 0.9s infinite linear reverse, opacity 4000ms linear infinite;
}

.parallax-wrapper .ligt4 {
  background-position: 0 -290px;
  height: 70px;
  left: 83vw;
  top: 80vh;
  -webkit-animation: rotate 8s 0.9s infinite linear;
          animation: rotate 8s 0.9s infinite linear;
}

.parallax-wrapper .ligt5 {
  background-position: 0 -350px;
  height: 150px;
  left: 85vw;
  top: 82vh;
  animation: rotate 8s 0.9s infinite linear reverse;
}

.parallax-wrapper .ligt6 {
  background-position: 0 -500px;
  height: 100px;
  left: 55vw;
  top: 72vh;
  -webkit-animation: rotate 8s 0.9s infinite linear;
          animation: rotate 8s 0.9s infinite linear;
}

.parallax-wrapper .ligt7 {
  background-position: 0 -600px;
  height: 120px;
  left: 25vw;
  top: 72vh;
  -webkit-animation: rotate 8s 0.9s infinite linear reverse, opacity 4000ms linear infinite;
          animation: rotate 8s 0.9s infinite linear reverse, opacity 4000ms linear infinite;
}

.parallax-wrapper .ligt8 {
  background-position: 0 -720px;
  height: 100px;
  left: 15vw;
  top: 52vh;
  -webkit-animation: rotate 8s 0.9s infinite linear, opacity 6000ms linear infinite;
          animation: rotate 8s 0.9s infinite linear, opacity 6000ms linear infinite;
}

.parallax-wrapper .ligt9 {
  background-position: 0 -820px;
  height: 150px;
  left: 10vw;
  top: 62vh;
  -webkit-animation: rotate 8s 0.9s infinite linear reverse, opacity 8000ms linear infinite;
          animation: rotate 8s 0.9s infinite linear reverse, opacity 8000ms linear infinite;
}

.parallax-wrapper .ligt10 {
  background-position: 0 -970px;
  height: 100px;
  left: 10vw;
  top: 42vh;
  -webkit-animation: rotate 16s 1.9s infinite linear, opacity 3000ms linear infinite;
          animation: rotate 16s 1.9s infinite linear, opacity 3000ms linear infinite;
}

.parallax-wrapper .ligt11 {
  background-position: 0 -1070px;
  height: 100px;
  left: 20vw;
  top: 42vh;
  animation: rotate 8s 0.5s infinite linear reverse;
}

.parallax-wrapper .ligt12 {
  background-position: 0 -1170px;
  height: 100px;
  left: 35vw;
  top: 75vh;
  -webkit-animation: rotate 8s 0.9s infinite linear;
          animation: rotate 8s 0.9s infinite linear;
}

.parallax-wrapper .ligt13 {
  width: 1090px !important;
  background-position: 0 -5580px;
  height: 1000px;
  left: -170px;
  top: calc(100vh - 400px);
  /* animation: rotate 528s 5.9s infinite linear reverse; */
  -webkit-filter: blur(42px) !important;
          filter: blur(42px) !important;
}

.parallax-wrapper .ligt14 {
  width: 1090px !important;
  background-position: 0 -2920px;
  height: 1000px;
  left: 40vw;
  top: calc(100vh - 260px);
  /* animation: rotate 528s 5.9s infinite linear reverse; */
  -webkit-filter: blur(42px) !important;
          filter: blur(42px) !important;
}

.parallax-wrapper .ligt15 {
  width: 1090px !important;
  background-position: 0 -2920px;
  height: 1000px;
  left: calc( 100vw - 640px);
  top: calc(100vh - 860px);
  /* animation: rotate 528s 5.9s infinite linear reverse; */
  -webkit-filter: blur(42px) !important;
          filter: blur(42px) !important;
}
/*# sourceMappingURL=transSkill.css.map */