* {
  margin: 0;
  padding: 0;
}

// containers
.container-canvas .body-content .details-content {
  background: #ffffff30;
  align-items: flex-start;
  padding: 0 50px;
  height: 0px;
  .details-body,
  .details-header {
    overflow: hidden;
    height: 0;
  }
}

// hexagon
.hexagon-shape {
  display: grid;
  justify-content: center;
  > div {
    transform: scale(0);
    // transition: .5s !important;
  }
}

.hexagon-yellew {

  .hexagon.hexagon-median {
    -webkit-transform: scale(0);
    transform: scale(0);
    justify-self: flex-end;
   
  }
  .hexagon.hexagon-small {
    justify-self: end;
  }
}

.hexagon-red,
.hexagon-blue,
.hexagon-green,
.hexagon-orange {
  .hexagon {
  }
  .with-prag {
    opacity: 1 !important;
  }
}

.hexagon-red {
  .hexagon.hexagon-median {
    justify-self: baseline;
    margin: -11px 15px 16px 34px;
  }
  .hexagon.hexagon-small {
    justify-self: end;
  }
}

.hexagon-content p {
  font-size: 25px;
  font-weight: 800;
}

.myButt {
  outline: none;
  border: none;
  padding: 20px;
  display: block;
  margin: 50px auto;
  cursor: pointer;
  font-size: 20px;
  background-color: transparent;
  position: relative;
  border: 2px solid #fff;
  transition: all 0.5s ease;
}

.one {
  border-color: #fff;
  overflow: hidden;
  color: #fff;
  .insider {
    background-color: #fff;
    width: 100%;
    height: 20px;
    position: absolute !important;
    left: -135px;
    transform: rotateZ(45deg);
  }
  &:hover {
    border-color: #fff;
    color: #fff;
    .insider {
      transition: all 0.3s ease;
      left: 135px;
    }
  }
}
